
body{
    background-color: beige;
    justify-content: center;
    position: relative;
    
}

header {
    background: beige;
    width: 100%;
    clear: both;
    content:'';
    display: table;
    position: fixed;
    z-index: 100;
}

#banner{
    width: 100%;
}

footer{

    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(212, 206, 218, 0.623);
    padding: 40px;
    
}

footer img{
    width: 30px;
    height: 30px;
}

#fotoFo{
    width: 30px;
    height: 30px;
}

/*Contenido index*/

.container{
    justify-content: center;
    display: grid;
    grid-template-rows: 3fr 1fr;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 30px;
}

.container-index{

    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100%;
    gap: 90px;
}

.espacio{
    justify-content: center;
    text-align: justify;
    line-height: 25px;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 40px;
    background: #000;
    border-radius: 70px;
    color: #fff;
    box-shadow: 7px 13px 37px #000;
    
}

.espacio h3{
    text-align: center;
}

.espacio video{
    width: 100%;
    border-radius: 10px;

}

.espacio img{

    display: block;
    margin: auto;
    border-radius: 10px;
    width: 100%;
}

/*Contenido index*/

/*Contenido nosotros*/

.container2{
    
    display: grid;
    grid-template-columns: 8fr 2fr;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 30px;
}

.container-nosotros{

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 2fr;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.espacio-nosotros{
    font-family: cursive;
    justify-content: center;
    text-align: justify;
    line-height: 25px;
    margin: auto;
    padding: 40px;
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 100px;
    color: #fff;
    box-shadow: 7px 13px 37px #000;
    
}

.espacio-nosotros img{

    display: block;
    margin: auto;
    border-radius: 10px;
    width: 50%;
}

/*Contenido nosotros*/

/* MENU DE NAVEGACION*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

#fotomenu{
    width: 120px;
    height: 50px;
    float: left;
    padding: 8px;

}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
}

/* REGISTRO Y LOGIN */

.form-register{


    width: 400px;
    background: #c28d8d;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 140px;
    font-family: 'calibri';
    border-radius: 50px;
    color: #000;
    box-shadow: 7px 13px 37px #000;
}

#tamañofo{
    margin-top: 100px;
    margin-bottom: 210px;

}
  
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.form-register h5 {
    font-size: 25px;
    margin-bottom: 20px;
    
}

.controls {
    width: 100%;
    background: #e1e2e4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    color: #000;
}

/* REGISTRO Y LOGIN */

.form-register p {
    height: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.form-register a {
    color: #000;
    text-decoration: none;
}

.form-register a:hover {
    color: #000;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #222429;
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;

}

/* REGISTRO Y LOGIN */