body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #F3F2EC;
}
/*===================MENU==========================*/

#menu a, button{
    font-size: 15px;
    font-weight:bold;
   
}

#menu a{
    color:#B44628;
    
}
#navchoka{
    color: #B44628;
}

.colorletra{
    color: #B44628;
}



.btn-sample { 
    color: #B44628; 
    background-color: #FFFFFF; 
    border-color: #B44628; 
  } 
   
  .btn-sample:hover, 
  .btn-sample:focus, 
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    color: #B44628; 
    background-color: #FFF1E5; 
    border-color: #B44628; 
  } 
   
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    background-image: none; 
  } 
   
  .btn-sample.disabled, 
  .btn-sample[disabled], 
  fieldset[disabled] .btn-sample, 
  .btn-sample.disabled:hover, 
  .btn-sample[disabled]:hover, 
  fieldset[disabled] .btn-sample:hover, 
  .btn-sample.disabled:focus, 
  .btn-sample[disabled]:focus, 
  fieldset[disabled] .btn-sample:focus, 
  .btn-sample.disabled:active, 
  .btn-sample[disabled]:active, 
  fieldset[disabled] .btn-sample:active, 
  .btn-sample.disabled.active, 
  .btn-sample[disabled].active, 
  fieldset[disabled] .btn-sample.active { 
    background-color: #FFFFFF; 
    border-color: #B44628; 
  } 
   
  .btn-sample .badge { 
    color: #FFFFFF; 
    background-color: #B44628; 
  }

.carousel-inner {
    max-height:39rem !important;
}

/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 0px; 
}


.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:100px;
}

/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

/*=========================FOOTER================================*/

footer {
    background: #B2B1AB;
    min-height: 100px;;
}
footer p{
    color:white;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:white;
}

/*=========================LOGIN================================*/

.bg{
    background-image: url(img/banner_login.webp);
    background-position: center center;
}

#lg{
    margin-top: 180px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
}

.btn-ini { 
    color: #B44628; 
    background-color: #FFF1E5; 
    border-color: #B44628; 
  } 
   
  .btn-ini:hover, 
  .btn-ini:focus, 
  .btn-ini:active, 
  .btn-ini.active, 
  .open .dropdown-toggle.btn-ini { 
    color: #B44628; 
    background-color: #FFE3C2; 
    border-color: #B44628; 
  } 
   
  .btn-ini:active, 
  .btn-ini.active, 
  .open .dropdown-toggle.btn-ini { 
    background-image: none; 
  } 
   
  .btn-ini.disabled, 
  .btn-ini[disabled], 
  fieldset[disabled] .btn-ini, 
  .btn-ini.disabled:hover, 
  .btn-ini[disabled]:hover, 
  fieldset[disabled] .btn-ini:hover, 
  .btn-ini.disabled:focus, 
  .btn-ini[disabled]:focus, 
  fieldset[disabled] .btn-ini:focus, 
  .btn-ini.disabled:active, 
  .btn-ini[disabled]:active, 
  fieldset[disabled] .btn-ini:active, 
  .btn-ini.disabled.active, 
  .btn-ini[disabled].active, 
  fieldset[disabled] .btn-ini.active { 
    background-color: #FFF1E5; 
    border-color: #B44628; 
  } 
   
  .btn-ini .badge { 
    color: #FFF1E5; 
    background-color: #B44628; 
  }

#creador{
  justify-content: center;
  text-align: justify;
}

h2{
  justify-content: center;
  text-align: justify;
}

.imc{
  background-image: url(img/Persona1.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.imd{
  background-image: url(img/Persona2.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.nosotros{
  background-color: #FFE3C2;
}

